@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fa-silid";
  src: url("/font/fa-solid-900.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "exo";
  src: url("/font/4UaOrEtFpBISc36j.woff2") format("woff2");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.ant-dropdown {
  @apply h-auto mt-5 !important;
}
.ant-dropdown-menu {
  @apply bg-primary-light h-fit !important;
}
.ant-dropdown-menu-root {
  @apply bg-primary-light relative h-20;
}
.ant-dropdown-menu-root .ant-dropdown-menu-item {
  @apply font-exo  hover:bg-primary-light text-xl !important;
  color: white !important;
}
.ant-dropdown-menu-item .ant-dropdown-menu-item-icon {
  @apply size-6;
}

.ant-spin-text {
  @apply font-exo font-semibold text-2xl !important;
  margin-top: 10px !important;
}
